In [1]:
import numpy as np
import pandas as pd

In [4]:
df= pd.DataFrame({'text' : ["people watch tanmay", "tanmay watch tanmay", "people write comment", "tanmay write comment"], 'output':[1,1,0,0]})

In [5]:
df

                   text  output
0   people watch tanmay       1
1   tanmay watch tanmay       1
2  people write comment       0
3  tanmay write comment       0

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(2,2))

In [8]:
bow = cv.fit_transform(df['text'])

In [9]:
print(cv.vocabulary_)

{'people watch': 0, 'watch tanmay': 4, 'tanmay watch': 2, 'people write': 1, 'write comment': 5, 'tanmay write': 3}

In [12]:
print(bow[0].toarray())
print(bow[1].toarray())

[[1 0 0 0 1 0]]
[[0 0 1 0 1 0]]